/* .DashboardAppprovider .css-1ie2bpi-MuiButtonBase-root-MuiIconButton-root{
    position: relative !important;
    right: 150px !important;
} */

.DashboardAppprovider .css-1ie2bpi-MuiButtonBase-root-MuiIconButton-root {
    position: absolute !important;
    left: 280px !important;
    top: 10px !important;
}

.css-wqnpph {
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    right: 100px !important;
    top: 5px !important;
}