@media (min-width: 1200px) {
    .DashboardAppprovider .css-1x21fgm-MuiContainer-root {
        max-width: 1368px !important;
    }
}

.mydatepickermodify{
    border: 2px solid rgb(128, 175, 233) !important;
    padding: 5px !important;
    border-radius: 5px !important;
    font-weight:700 ;
}